/*     .listEncabezado{
        height: 80px;
        background-color: rgb(17, 207, 207);

    }
    .listEncabezado{
        list-style: none;
        margin: 0;
    }      

    .equipo{
        width: 1600px;
        height: 640px;
     
    }

    .equipo-2{
        width: 1177px;
        height: 368px;
        display: flex;
        justify-content: space-between;
    }
    .equipo-3{
        width: 270px;
        height: 368px;
    }

    .equipoImg{
        width:270px;
        height: 260px;
    }

    .dedicamos{
        width: 1180.16px;
        height: 429.7;
    }

    .dedicamos1{
        width: 373.16px;
        height: 323.7px;
        display: flex;
        justify-content: space-between;
    }

    

    .titulosH2{
        display: flex;
        justify-content: center;
    }



    .social-links .link {
        color: teal;
    }

    .social-links .link:hover,
    .social-links .link:focus {
        color: orange;
    }

    .social-links .link:active {
        color: red;
    }
    .social-links .link:visited {
        color: green;
    }
 */

.encabezado{
    height: 80px;
}

.encabezado-lista{
    display: flex;
    height: 80px;
}

.lista{
    list-style: none;
    
}

 .encabezado{
    background-color: #FFFFFF;
    
}

.encabezado-lista :nth-child(2){
    display: flex;
    align-items: center;
    text-decoration: none; 
    
} 

.logo-tipo{
    color: #2196F3;
    font-size: 30px;
}
 
.list-encabezado{
    display: flex;
    margin: 0; /* 24px 215px; */
    padding: 0;
    margin-left: 215px;
    align-items: center;
}

.list-encabezado, ul, li a{
    padding-left: 60px;
    cursor: pointer;
    text-decoration: none;
    
}

.cambio-color:hover {
    color: blue;
}

.dedicamos {
    height: 429.7;
    /* background-color: rgb(7, 202, 43); */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.title-dedicamos{
    font-size: 36px;
    color: #212121;
}

.dedicamosImg {

    width: 373.16px;
    height: 323.7px;
    margin-right: 30px;
    border-radius: 50%;
    object-fit: cover; /* mejora calidad imagen  */
}

.equipoImg {
    width: 270px;
    height: 260px;
    border-radius: 30%;
    object-fit: cover;
    object-fit: cover;/* mejora calidad imagen  */
}

.equipo {
     
    height: 640px;
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    align-items: center;
    background-color: #F5F4FA;
}

.equipo h2{
    margin-top: 140px;
    font-size: 36px;
    color: #212121;
}
.alinear{
    
    text-align: center;
}

.alinear p{
    color: #757575;
    text-align: left;
}

.quipo-title{
    font-size: 36px;
    color: #212121;
}

.lista-equipo{
    display: flex;
    align-items: center;
    padding: 0;
    
}

.lista-equipo-img{
    padding:0;
    /* border:solid; */
    background-color:#FFFFFF;
    margin-left: 40px;
    height: 380px;
}




.lista-dedicamos{
    display: flex;
}

.lista-informacion{
    display: flex;
    margin-top: 80px;
    padding-left: 0;
    margin-bottom: 80px;
}


.title-info{
    color: #212121;

}

.info-p{
    text-align: left;
    color: #757575;
}

/* section  */

.section-main{
    height: 560px;
    background-color: #2F303A;
    display: flex;
    align-items:center;  
    flex-direction: column;
    justify-content: center;
}

.section-main h1{
    font-size: 44px;
    color: #FFFFFF;
    width: 710px;
    text-align: center;
}

.section-main button{
    background-color:#2196F3 ;
    width: 261px;
    height: 50px;
    color: #FFFFFF;
}



.foter-info{
    margin-top: 40px;
    display: flex;
    height: 252px;
    background-color: #2F303A;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    
}

.foter-titulo{
    padding-left: 60px;
    width: 250px;
    margin-bottom: 0;
    text-align: left;
    color: #FFFFFF;
}

.addres-info{
    margin:0;
}

.color-p{
    color: #757575;
}